.product-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-tags {
    margin-top: 10px;
}

.product-description {
    margin-bottom: 20px;
}

.product-details {
    margin-bottom: 20px;
}

.reviews-section {
    margin-top: 40px;
}

.review-item {
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}

/* DetailedPageSkeleton.css */
.skeleton-card-wrapper {
    margin: 20px;
}

@media (min-width: 1200px) {
    .skeleton-card-wrapper {
        margin: 40px 20px;
    }
}

.skeleton-tags {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.skeleton-review-item {
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}

.skeleton-description {
    margin-top: 20px;
}

.skeleton-detail-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.skeleton-detail-label {
    width: 150px;
}

.space-x {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Login.css */
.login-section {
    align-items: center;
    background-color: var(--ant-layout-body-background);
    display: flex;
    height: 100vh;
    padding: 32px 0; /* Adjust based on screen size */
}

.login-section .container {
    margin: 0 auto;
    padding: 48px; /* Adjust based on screen size */
    width: 380px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-section .header {
    margin-bottom: 32px;
    text-align: center;
}

.login-section .title {
    font-size: 24px; /* Adjust based on screen size */
}

.login-section .text {
    color: var(--ant-text-color-secondary);
}

.login-section .footer {
    margin-top: 24px;
    text-align: center;
    width: 100%;
}

.login-section .forgot-password {
    float: right;
    color: var(--ant-primary-color);
}
